/**
 * This file contains fixes for IE9 and below on Beardesign.hu
 * This is the LESS source for ie9.css
 * Must be included after the main 'styles.css'
 * @author  Tamas Kuti
*/
.btn {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
}
a.btn:active,
a.btn:focus,
.btn:active,
.btn:focus {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
}
.click_protect {
  background: url(../images/blank.gif) repeat 0 0;
}
