/**
 * This file contains fixes for IE8 and below on Beardesign.hu
 * This is the LESS source for ie_lte_8.css
 * Must be included after the main 'styles.css'
*/
.desktop_size_2 #intro .centered_text,
.desktop_size_3 #intro .centered_text {
  width: 100%;
}
body.desktop_size_2 {
  font-size: 1.125em;
}
.desktop_size_2 #logo {
  width: 400px;
  height: 400px;
}
.desktop_size_2 #logo_head {
  width: 140px;
  left: 50%;
  margin-left: -70px;
  height: 157px;
}
.desktop_size_2 #logo_type {
  width: 150px;
  left: 50%;
  margin-left: -75px;
  height: 105px;
}
.desktop_size_2 .portrait_cont {
  width: 150px;
  height: 150px;
}
.desktop_size_2 #insta_photos li {
  width: 140px;
  height: 140px;
}
.desktop_size_2 #back_to_top_link {
  width: 50px;
  height: 50px;
  right: -50px;
  bottom: -50px;
}
body.desktop_size_3 {
  font-size: 1.25em;
}
.desktop_size_3 #logo {
  width: 440px;
  height: 440px;
}
.desktop_size_3 #logo_head {
  width: 160px;
  left: 50%;
  margin-left: -80px;
  height: 177px;
}
.desktop_size_3 #logo_type {
  width: 150px;
  left: 50%;
  margin-left: -75px;
  height: 105px;
}
.desktop_size_3 .portrait_cont {
  width: 200px;
  height: 200px;
}
.desktop_size_3 .portfolio_cover_pic {
  width: 940px;
  height: 529px;
  max-height: none;
}
.desktop_size_3 .centered_text {
  width: 90%;
}
.desktop_size_3 #insta_photos li {
  width: 150px;
  height: 150px;
}
.desktop_size_3 #back_to_top_link {
  width: 60px;
  height: 60px;
  right: -60px;
  bottom: -60px;
}
